.join-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.join-text {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
}

.accent-text {
    color: #bc3a80;
}

.join-form {
    background-color: #202027;
    width: 50vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
    
}

.input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.input-group:last-child {
    margin-bottom: 0 ;
}

.input-group label {
    font-weight: bold;
    margin-bottom: .5rem;
}

.input-group input {
    outline: none;
    background: none;
    border: 1px solid #2E3852;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
}

.input-group input:focus {
    border-color: #596da0;        /*To let visitors know their input is being collected*/
    }

@media (max-width: 900px) {
    .join-main-section {
        flex-direction: column;
        justify-content: center;
    }

    .join-form {
        width: 80vw;
        max-width: inherit;
        margin: 2rem 0;
    }
}